@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600&family=Playfair+Display&display=swap');
:root {
  --Font: 'Barlow Condensed', sans-serif;
  --Font-Title:  'Playfair Display', serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  /* outline: red 1px solid; */
}

html {
  font-size: 16px;
}

body {
  color: rgb(200, 200, 200);
  font-family: var(--Font);
}

.title {
  color: white;
  padding-top: 25vh;
  margin-left: 15rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
}

.title span {
  font-weight: bold;
  color: rgb(145, 145, 145);
}

a {
  font-family: var(--Font);
}

img {
  display: block;
}

header {
  position: fixed;
  width: 100%;
  padding: 2rem 0 4rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4rem;
  transition: all .3s;
}

.after {
  position: relative;
}

.logo:hover {
  transform: scale(1.2);
}

.after::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 34vw;
  height: 2px;
  left: 9rem;
  top: calc(2rem - 1px);
}

.header__nav {
  background-color: rgba(100, 100, 100, 0.5);
  width: 55vw;
  height: 10vh;
  padding-left: 2rem;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav__link {
  display: block;
  margin: .4rem 1rem 0;
  padding: calc(2.1rem - 9px) 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all .2s;
}

.nav__link span {
  letter-spacing: 4px;
  font-size: 1.7rem;
  font-weight: 600;
}

.nav__link:hover {
  border-bottom: 8px rgba(255, 255, 255, 0.6) solid;
}

.nav__link.active {
  border-bottom: 8px rgb(255, 255, 255) solid;
  pointer-events: none;
}

main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}